.home {

  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 0 60px;

    .home_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .content_title {
      font-size: 28px;
      color: #000000;
      font-weight: 700;
      padding: 35px 0;
    }

    .content_body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
